@(person: Form[CreatePersonForm],persons: Seq[Person],Filter: String)(implicit request: RequestHeader, messages: Messages)


@import helper._

@main("PhoneBook 0.3") {

    <h2>New Contact</h2>

        @form(CSRF(routes.PersonController.addPerson())) {
        @inputText(person("name"),'placeholder -> "name")
        @inputText(person("phone"),'placeholder -> "phone number")

    <input type="submit" value="Add" class="btn primary btn-success">

    }

    @form(action=routes.PersonController.index()) {

        <h3>Search </h3>
        <div id="search-container">
            <input type="search" class="form-control" id="search-box" name="filter"
            autocomplete="off" value="@Filter" placeholder="name">
            <input type="submit" id="search-submit" value="show" class="btn primary btn-success">
        </div>


    }

    <fieldset>
        <legend align="center"><h3>List of contacts</h3></legend>
        <table cellspacing="20">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>phone</th>
            </tr>
            @for(person <- persons){
            <tr>
                <td>@person.id</td>
                <td>@person.name</td>
                <td>@person.phone</td>
                <td><a href="@routes.PersonController.delete(person.id)">delete</a></td>
            </tr>
            }
        </table>
    </fieldset>

}
