@(userForm: Form[models.ContactForm],contacts : Seq[models.Contact],currentFilter: String)(implicit messages: Messages, request: play.api.mvc.RequestHeader)

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@main("PhoneBook 0.2") {

    <h2>New Contact</h2>

    @helper.form(action = routes.Application.addContact()){
    @helper.inputText(userForm("name"), '_label -> "Name")
    @helper.inputText(userForm("pnumber"), '_label -> "Phone")

    <input type="submit" value="Add" />

    }



    <div class="user-display" >
        @form(action=routes.Application.index()) {
        <div>
            <input type="search" class="form-control" id="search-box" name="filter"
                   autocomplete="off" value="@currentFilter" placeholder="enter name">
            <input type="submit" value="Filter" >
        </div>
        }

        <fieldset>
            <legend align="center"><h3>PhoneBook 0.2</h3></legend>
            <table cellspacing="20">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>pnumber</th>
                </tr>
                @for(contact <- contacts){
                    <tr>
                        <td>@contact.id</td>
                        <td>@contact.name</td>
                        <td>@contact.pnumber</td>
                        <td><a href="@routes.Application.deleteContact(contact.id)">delete</a></td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>

}
