@(person: Form[CreatePersonForm])(implicit request: RequestHeader, messages: Messages)


@import helper._

@main("PhoneBook 0.2") {

    <h2>New Contact</h2>

        @form(CSRF(routes.PersonController.addPerson())) {
        @inputText(person("name"))
        @inputText(person("age"))

    <input type="submit" value="Add" />

    }



    <div class="user-display" >
        @form(action=routes.Application.index()) {
        <div>
            <input type="search" class="form-control" id="search-box" name="filter"
                   autocomplete="off" value="@currentFilter" placeholder="enter name">
            <input type="submit" value="Filter" >
        </div>
        }

        <fieldset>
            <legend align="center"><h3>PhoneBook 0.2</h3></legend>
            <table cellspacing="20">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>pnumber</th>
                </tr>
                @for(contact <- contacts){
                    <tr>
                        <td>@contact.id</td>
                        <td>@contact.name</td>
                        <td>@contact.pnumber</td>
                        <td><a href="@routes.Application.deleteContact(contact.id)">delete</a></td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>

}
